* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-primary900: #ff0055;
    --color-primary100: #ffdede;
    --color-secondary: #fc945a;

    --h1-font-size: 3.125rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 0.938rem;

    --p-font-size-large: 0.938rem;
    --p-font-size-medium: 0.625rem;
    --p-font-size-small: 0.5rem;

    --transition: 0.5s;

    --border-radius-large: 3rem;
    --border-radius-medium: 1.875rem;
    --border-radius-small: 0.625rem;

    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --font-family: "Inter", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Formatações Genéricas */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* FimFormatações Genéricas */

/* Cabeçalho */
.header-page {
    background-color: var(--color-primary100);
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.input-buscar {
    width: 20vw;
    height: 6vh;
    border-radius: var(--border-radius-large);
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu li {
    margin-left: 30px;
}

.btn-login {
    height: 45px;
    padding: 10px 30px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    color: var(--color-light);
}

.test {
    font-size: 25px;
    left: 81px;
}

.test:hover {
    color: red;
    /* Substituir o efeito */
}

/* Fim Cabeçalho */

/* explore sp*/
.exploresp {
    width: 100vw;
    min-height: 68vh;
    background-color: #FFC4A4;
}

.exploresp h2 {
    position: absolute;
    left: 79px;
    top: 123px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--font-weight-bold);
    font-size: 50px;
    color: var(--color-dark);
}

.title-span {
    font-size: 50px;
    color: var(--color-primary900);

}

.menu-sp {
    /* Adicionar Icones no Menu */
    width: 100vw;
    height: 20vh;
    margin-bottom: 30px;
}

.btn-menu {
    width: 210px;
    height: 84px;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: var(--border-radius-small);
    box-sizing: border-box;
    position: relative;
    left: 83px;
    top: 153px;
    padding: 20px 85px;
    color: var(--color-dark);
    margin-right: 20px;

}

.galeriasp {
    width: 80vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    margin: 0 188px;
    background-color: #D9D9D95C;
}

.galeriasp img {
    margin: 31px;
    max-width: 100%;
}

/* Fim explore sp*/

/* Sobre SP */
.sobre-sp {
    height: 47vh;
    background-color: var(--color-secondary);
}

.sobre-sp div {
    width: 760px;
    height: 420px;
    margin-left: 79px;
    padding-top: 27px;
    /* border: 2px solid; */
}

.title-sobre-span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary900);

}

.sobre-sp h2 {
    top: 123px;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
    color: var(--color-dark);
    margin: 0 15px;
}

.sobre-sp p {
    font-size: var(--p-font-size-large);
    font-weight: var(--font-weight-medium);
    margin: 15px;
}

/* Fim Sobre SP */

/* Onde Hospedar */

.onde-hospedar {
    width: 100vw;
    height: 42vh;
    background-color: #FFC4A4;
}

.onde-hospedar h2 {
    top: 123px;
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
    color: var(--color-dark);
    margin: 0 79px;
    padding-top: 37px;
}

/* .carousel-slide {} */

.hotel-name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-medium);
}

#hotel-carousel .carousel-inner {
    display: flex;
    flex-wrap: nowrap;
}

#hotel-carousel .carousel-item {
    flex-basis: 20%;
    margin: 17px;
}

@media (max-width: 767px) {

    /* Para dispositivos móveis, alterne o display para block e defina a largura dos itens para 100% */
    #hotel-carousel .carousel-inner {
        display: block;
    }

    #hotel-carousel .carousel-item {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.btn-primary-more-info-btn {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;
}

/* Fim Onde Hospedar */

/* Footer */
.footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary100);
    padding: 88px 239px 50px 206px;
}

.footer-itens {
    justify-content: center;
}

.footer-main-tit {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    margin-top: 50px;
}

.footer-tit {
    font-size: var(--h2-font-size);
    color: rgba(0, 0, 0, 0.43);
    margin-bottom: 33px;

}

.nav-footer {
    line-height: 50px;
}

.a-footer {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: var(--font-weight-bold);

}


.nav-footer-images {
    width: 80%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}


.img-footer {
    border-radius: var(--border-radius-small);
    padding: 10px;
}

/* Fim Footer */