* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-primary900: #ff0055;
    --color-primary100: #ffdede;
    --color-secondary: #fc945a;

    --h1-font-size: 3.125rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.25rem;
    --h4-font-size: 0.938rem;

    --p-font-size-large: 0.938rem;
    --p-font-size-medium: 0.625rem;
    --p-font-size-small: 0.5rem;

    --transition: 0.5s;

    --border-radius-large: 3rem;
    --border-radius-medium: 1.875rem;
    --border-radius-small: 0.625rem;

    --font-weight-normal: 400;
    --font-weight-medium: 600;
    --font-weight-bold: 700;

    --font-family: "Inter", sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

/* Formatações Genéricas */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* FimFormatações Genéricas */

/* Cabeçalho */
.header-page {
    background-color: var(--color-primary100);
    width: auto;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.input-group-text {
    border: none;
    font-size: 20px;
    position: absolute;
    padding: 2.5vh 1.5vw;
}

.input-buscar {
    width: 20vw;
    height: 8vh;
    border-radius: var(--border-radius-large);
    text-align: center;
    border: 1px solid;
}

.header-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu li {
    margin-left: 30px;
}

.btn-login {
    padding: 10px 30px;
    border-radius: var(--border-radius-small);
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    color: var(--color-light);
}

.test {
    font-size: 25px;
    left: 81px;
}

.test:hover {
    color: red;
    /* Substituir o efeito */
}

/* Fim Cabeçalho */

/* explore sp*/
.exploresp {
    width: auto;
    min-height: 85vh;
    background-color: #FFC4A4;
}

.exploresp h2 {
    position: absolute;
    left: 79px;
    top: 18vh;
    font-family: var(--font-family);
    font-weight: var(--font-weight-bold);
    font-size: 50px;
    color: var(--color-dark);
}

.title-span {
    font-size: 50px;
    color: var(--color-primary900);

}

.menu-sp {
    /* Adicionar Icones no Menu */
    width: auto;
    height: 23vh;
    margin-bottom: 30px;
    /* border: 2px solid; */
    display: flex;
}

.btn-menu {
    width: 15vw;
    height: 10vh;
    background-color: var(--color-light);
    border: 1px solid var(--color-dark);
    border-radius: var(--border-radius-small);
    position: relative;
    left: 79px;
    top: 15vh;
    padding: 20px;
    text-align: center;
    text-decoration: solid;
    font-weight: var(--font-weight-bold);
    margin: 0 0 0 1vw;
}

.btn-menu a {
    color: var(--color-dark);
}

.galeriasp {
    width: 90vw;
    height: 53vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    margin: auto;
    background-color: #D9D9D95C;
    /* border: 2px solid; */
}

.galeriasp img {
    margin: 2vw;
    width: 18vw;
}

/* Fim explore sp*/

/* Sobre SP */
.sobre-sp {
    width: auto;
    height: 60vh;
    background-color: var(--color-secondary);
}

.sobre-sp div {
    width: 60vw;
    height: 55vh;
    margin-left: 79px;
    padding-top: 2vh;
    /* border: 2px solid; */
}

.title-sobre-span {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    color: var(--color-primary900);

}

.sobre-sp h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
    color: var(--color-dark);
}

.sobre-sp p {
    font-size: var(--p-font-size-large);
    font-weight: var(--font-weight-medium);
    margin: 1.5vh;
}

/* Fim Sobre SP */

/* Onde Hospedar */

.onde-hospedar {
    width: auto;
    height: 40vh;
    background-color: #FFC4A4;
}

.onde-hospedar h2 {
    font-weight: var(--font-weight-bold);
    font-size: var(--h2-font-size);
    color: var(--color-dark);
    margin: 0 79px;
    padding-top: 2vh;
}

.onde-hospedar p {
    width: 15vw;
    margin: 55px 79px;
    text-align: center;
    font-size: var(--p-font-size-large);
    font-weight: var(--font-weight-medium);
    /* border: 2px solid; */
}

/* Fim Onde Hospedar */

/* Footer */
.footer {
    width: auto;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-primary100);
    padding: 3vh;
}

.footer-itens {
    justify-content: center;
}

.footer-main-tit {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
    margin-top: 50px;
}

.footer-tit {
    font-size: var(--h2-font-size);
    color: rgba(0, 0, 0, 0.43);
    margin-bottom: 33px;

}

.nav-footer {
    line-height: 50px;
}

.a-footer {
    text-decoration: none;
    color: var(--color-dark);
    font-weight: var(--font-weight-bold);

}


.nav-footer-images {
    width: 80%;
    display: flex;
    justify-content: space-around;
    cursor: pointer;

}


.img-footer {
    border-radius: var(--border-radius-small);
    padding: 10px;
}

/* Fim Footer */