@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary900: #fc945a;
  --color-secondary100: #ffc4a4;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

/* Header */

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary100);
  height: 140px;
}

.header-title {
  font-size: var(--h3-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
}

.inputSearch {
  width: 30%;
  height: 60px;
  border: none;
}

.iconSearch {
  position: absolute;
  margin: 20px 20px;
}

.search {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  color: #000000;
  border: none;
  box-shadow: none;
}

.container-loginFavourite {
  align-items: right;
}

.btn-login {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  margin: 30px;

}

.btn-login:hover {
  background-color: #9f99999f;
  color: #000000;
}

.iconHeart {
  font-weight: var(--font-weight-bold);
}

.iconHeart:hover {
  background-color: #9f99994f;
  padding: 15px;
  border-radius: 100%;
}

.menu-mobile {
  display: none;
}

@media (max-width: 900px) {
  .search {
    display: none;
  }

  .container-loginFavourite {
    display: none;
  }

  .inputSearch {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: none;
    width: 100%;
    height: 30px;
  }

  .dropdown-menu {
    background-color: #ffffffa9;
  }

  .menu-mobile .btn {
    width: 30px;
    background-color: transparent !important;
    border: none;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .menu-mobile .btn:hover {
    background-color: #00000000;
  }


  .icon-menu {
    color: var(--color-primary900);
  }

  .lupa {
    cursor: pointer;
  }

  .item,
  .drop {
    display: none;
  }

  .outro {
    background-color: #000;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
  }
}

/* Header */

/* Informações */

.navegacao {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin-left: 10px;
}

.btn {
  width: 130px;
  height: 60px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: #EEEEEE;
}

.botao:hover {
  background-color: #cccccc;
  color: #000;
}

.botao {
  border-radius: 10px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.drop {
  margin-left: 10px;
  margin-bottom: 20px;

}

.button {
  height: 80px;
  background-color: #EEEEEE;
}

p {
  font-size: var(--h2-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);

}

a {
  background-color: #EEEEEE;

}

.icon1 {
  margin-right: 20px;
}




/* Informações */

/* Titulo */


.titulo-pagina {
  width: 70%;
  display: flex;
  align-items: left;
  justify-content: flex-start;
  margin-left: 30px;
  font-family: var(--font-family);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

.titulo-pagina span {
  color: var(--color-primary900);
}

/* Titulo */

/* Carrosel */
.cards-wrapper {
  display: flex;
  justify-content: center;

}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.card {
  margin: 0 1em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
  cursor: pointer;
}


.card-body {
  background-color: rgba(252, 147, 90, 0.355)
}


.card-img-top-japa,
.card-img-top-hamburger {
  width: 100%;
  height: 100%;
}

.card-text {
  font-family: var(--font-family);
  font-size: var(--p-font-size-large);
}

.card-title {
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: var(--font-weight-bold);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: none;
}

/* Carrosel */

@media(max-width: 900px) {
  .car {
    display: none;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .card-body {
    background-color: #ffc4a489;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    bottom: 0;
  }

  .card-title {
    font-weight: var(--font-weight-bold);
    text-align: left;
    margin-right: 70%;


  }

  .card .card-img-top {
    max-width: 100%;
  }

}

/*Banner */

.base {
  margin-top: 50px;
}



.c-item {
  height: 444px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.prev,
.next {
  display: none;
  background-color: #00000000;
}

.c-text h1 {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  font-size: 73px;
  width: 50%;
}

.c-text2 h1 {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  text-align: left;
  font-size: 73px;
  width: 90%;

}




@media(max-width: 800px) {
  .base {
    display: none;
  }
}


/*Banner */

/*Footer */


footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffdede;
  padding: 50px 100px 50px 20px;
}

.footer-items-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-items-social h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
}

.footer-items-socia span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons {
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;

}

.footer-items-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-links h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin-top: 10px;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
}

.a-footer {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  background-color: #00000000;
}

.a-footer:hover {
  text-decoration: underline;
}

.footer-items-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-blog h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.footer-images-blog {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.footer-images-blog div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 129px;
}

.footer-images-blog div p {
  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-dark);
}

.img-footer {
  border-radius: 10px;
  width: 129px;
  justify-content: space-between;
}

@media(max-width: 1000px) {

  .footer-items-blog {
    display: none;
  }

  .footer-items-links h4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    margin-left: 40%;
  }

  .nav-footer {
    margin-left: 50%;
    width: 90%;
  }

  .footer-items-social h4 {
    font-size: 20px;
  }

}

/*Footer */