* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary: #fc945a;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  transition: color var(--transition);
  padding: 10px;
}

a:hover {
  color: var(--color-light);
  background-color: var(--color-primary900);
  border-radius: var(--border-radius-small);
}

img {
  width: 100%;
}

.logo {
  display: flex;
  margin: 5px;
  align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-menu ul {
  display: flex;
  align-items: center;
  background-color: #ffffff17;
  border-radius: var(--border-radius-small);
  width: 97%;
}

.header-menu li {
  text-decoration: none;
  margin-left: 10px;
  padding: 15px;
}

.menu-span {
  background-color: var(--color-dark);
  padding: 15px 30px;
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

.menu-span:hover {
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.header-title {
  color: var(--color-light);
  font-size: var(--h3-font-size);
  text-align: left;
}

#air {
  color: var(--color-light);
  padding: 20px;
  font-size: var(--h2-font-size);
}

.first {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(255, 64, 0, 0.067),
      rgba(247, 97, 27, 0.569)
    ),
    url(../images/paisagem9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: var(--color-light);
  text-align: left;
}

.first h2 {
  font-size: var(--h1-font-size);
  color: var(--color-primary900);
  margin-left: 20px;
  width: 40%;
}

.first p {
  font-size: var(--color-light);
  color: var(--color-light);
  width: 50%;
  margin: 20px 0;
  margin-left: 20px;
}

.btn {
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-small);
  font-size: var(--p-font-size-large);
  color: var(--color-light);
  width: 200px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  transition: var(--transition);
  text-align: center;
  margin: 20px;
}

.btn:hover {
  cursor: pointer;
  color: var(--color-dark);
  background-color: var(--color-light);
}
