@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary900: #fc945a;
  --color-secondary100: #ffc4a4;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

ul,
ol {
  list-style: none;
}

.menu-item {
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  transition: color var(--transition);
  padding: 15px;
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  transition: color var(--transition);
  padding: 10px;
}

.menu-item:hover {
  color: var(--color-light);
  background-color: var(--color-secondary900);
  border-radius: var(--border-radius-small);
}

img {
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 5px;
  color: var(--color-light);
}

.header {
  width: 100%;
  height: 100px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-menu ul {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  margin-right: 30px;
  border-radius: var(--border-radius-small);
  border-radius: var(--border-radius-small);
  background-color: #ffffff35;
}

.header-menu li {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  padding: 15px;
  box-sizing: border-box;
}

.menu-span {
  background-color: #000;
  padding: 15px 30px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}
.login {
  height: 50px;
  width: 150px;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-small);
  color: var(--color-light);
  text-decoration: none;
  box-shadow: none;
  border: none;
  padding: 10px 20px;
  font-family: var(--font-family);
  font-size: var(--p-font-size-large);
  text-align: center;
  margin: 10px 10px;
}

.login:hover {
  cursor: pointer;
  background-color: #ffffff77;
}

.home {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
      45deg,
      rgba(255, 64, 0, 0.067),
      rgba(247, 97, 27, 0.569)
    ),
    url(../images/paisagem9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: var(--color-light);
  text-align: left;
  text-decoration: none;
  padding: 15px;
}

.logo h1 {
  color: var(--color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  text-align: left;
}

.home h2 {
  width: 30%;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary900);
  margin-left: 10px;
}

.home p {
  width: 50%;
  font-size: var(--color-light);
  color: var(--color-light);
  margin: 20px 10px;
}

.btn {
  width: 200px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: var(--border-radius-small);
  font-size: var(--p-font-size-large);
  color: var(--color-light);
  cursor: pointer;
  padding: 10px;
  text-decoration: none;
  transition: var(--transition);
  text-align: center;
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff2f;
}

.planeje-viagem {
  background-color: #fd5758;
  padding-bottom: 80px;
  padding-top: 30px;
}

.caixa-planeje {
  width: 100%;
}

.topo-planeje {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
}

.menu-span-login {
  background-color: #000;
  width: 202px;
  height: 64px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.menu-span-login:hover {
  cursor: pointer;
  background-color: #ffffff77;
  color: #000;
}

.tit-planeje {
  font-size: 2.5rem;
}

.menu-planeje {
  width: 100%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px 0 100px;
}

.menu-itens-1,
.menu-itens-2,
.menu-itens-3,
.menu-itens-4,
.menu-itens-5 {
  background: rgba(255, 255, 255, 0.54);
  height: 10%;
  width: 18%;
  margin: auto;
  border: 2px solid #000000;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  font-weight: 700;
  font-size: var(--p-font-size-large);
}

.menu-itens-5 {
  width: 25%;
}

.menu-itens-1,
.menu-itens-2,
.menu-itens-3,
.menu-itens-4,
.menu-itens-5 {
  cursor: pointer;
}

.container-busca {
  border: #000 solid 1px;
  width: 100%;
}

.planeje-busca {
  background-image: url(/images/fundo-busca.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 324px;
  width: 89%;
  border-radius: 10px;
  margin: auto;
}

#busca-home {
  background-image: url(/images/busca.png);
}

.busca-itens {
  height: 70px;
  width: 700px;
  font-size: 18px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 40px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffffd4;
  position: relative;
  top: 125px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffdede;
  padding: 88px 100px 50px 100px;
}

.footer-items-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-items-social h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.footer-tit {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  text-align: center;
}

.socialIcons {
  font-size: 1.5rem;
}

.footer-items-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-links h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
}

.a-footer {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  font-size: 15px;
}

.a-footer:hover {
  color: var(--color-primary900);
}

.footer-items-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-blog h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.footer-images-blog {
  display: flex;
  gap: 1rem;
}

.footer-images-blog div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 129px;
}

.footer-images-blog div p {
  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-dark);
}

.img-footer {
  border-radius: 10px;
  width: 129px;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .topo-planeje {
    margin: auto;
    width: 90vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 2rem;
  }

  .menu-span-login {
    font-size: 1rem;
    width: 15vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 6vh;
    /* padding: 4% 2% 4% 2%; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 4%;
  }

  .menu-planeje li {
    display: flex;
    font-size: 1rem;
    height: 5vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }

  .planeje-busca {
    font-size: 0.8rem;
    height: 30vh;
    width: 87vw;
    margin: auto;
  }

  .busca-itens {
    font-size: 0.8rem;
    height: 6vh;
    width: 60vw;
    margin: auto;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 1150px) {
  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 10vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-planeje li {
    display: flex;
    font-size: 1rem;
    height: 3vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .topo-planeje {
    margin: auto;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 1.5rem;
  }

  .menu-span-login {
    font-size: 1rem;
    width: 20vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 10vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-planeje li {
    display: flex;
    font-size: 0.8rem;
    height: 3vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }

  .planeje-busca {
    font-size: 0.8rem;
    height: 30vh;
    width: 90vw;
    margin: auto;
  }

  .busca-itens {
    font-size: 0.8rem;
    height: 6vh;
    width: 60vw;
    margin: auto;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 600px) {
  .topo-planeje {
    margin: auto;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 1.7rem;
    width: 60vw;
  }

  .menu-span-login {
    font-size: 0.8rem;
    width: 20vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
    margin-bottom: 2%;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 9vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-itens-3 {
    width: 20vw;
  }

  .menu-planeje li {
    display: flex;
    font-size: 0.8rem;
    height: 4vh;
    width: 10vw;
    margin: auto;
    justify-content: center;
  }

  .menu-planeje i {
    font-size: 1.2rem;
    margin: auto;
  }
}

.descubra {
  width: 100%;
  display: flex;
  gap: 82px;
  background-color: var(--color-secondary900);
}

.descubra-text {
  width: 50%;
  flex-direction: column;
}

.descubra h3 {
  width: 30%;
  padding: 30px 30px;
  margin-top: 70px;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
}

.descubra p {
  width: 90%;
  font-size: var(--p-font-size-large);
  color: var(--color-dark);
  margin: 20px 20px;
  margin-left: 20px;
}

.imagem-descubra1 {
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.imagem-descubra1 div {
  width: 90%;
  min-height: 90vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius-small);
  background-position: 100%;
  flex-wrap: wrap;
}

.imagem1 {
  background-image: url(/images/Foto1.jpg);
  max-width: 100%;
}

.imagem1:hover {
  transform: scale(0.9);
}

.descubra2 {
  background-color: var(--color-secondary900);
  width: 100%;
  display: flex;
}

.imagem-descubra234 {
  width: 95%;
  display: flex;
  justify-content: center;
  margin: 10px auto;
  padding: 10px;
}

.imagem-descubra234 div {
  width: 50%;
  min-height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: var(--border-radius-small);
  background-position: 100%;
  margin: 0 10px;
  padding: 10px;
}

.imagem2 {
  background-image: url(/images/Foto2.jpg);
  max-width: 100%;
}

.imagem2:hover {
  transform: scale(0.9);
}

.imagem3 {
  background-image: url(/images/Foto3.jpg);
  max-width: 100%;
}

.imagem3:hover {
  transform: scale(0.9);
}

.imagem4 {
  background-image: url(/images/Foto4.jpg);
  max-width: 100%;
}

.carrossel {
  display: none;
}

.imagem4:hover {
  transform: scale(0.9);
}

.menu-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .menu-mobile {
    display: block;
    background-color: none;
  }

  .idk {
    margin-left: 60px;
  }

  .dropdown-menu {
    background-color: #ffffffa9;
  }

  .menu-mobile .btn {
    background-color: #00000000;
    border: none;
    padding: 0px;
    margin-right: 0px;
  }

  .menu-mobile:hover {
    background-color: none;
  }

  .dropdown-item:hover {
    background-color: var(--color-secondary);
  }

  body {
    overflow-x: hidden;
  }

  .home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
        45deg,
        rgba(255, 64, 0, 0.067),
        rgba(247, 97, 27, 0.569)
      ),
      url(../images/paisagem9.jpg);
    background-size: cover;
    background-position: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: var(--color-light);
    text-align: left;
  }

  .logo h1 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    margin: 0 20px;
  }

  .header-menu {
    display: none;
  }

  .header {
    width: 100%;
    padding: 0 0px;
  }

  .header-menu ul {
    flex-direction: column;
    background-color: #00000000;
  }

  .header-menu li {
    padding: 0px;
    justify-content: center;
    width: 50%;
    align-items: center;
    display: flex;
    font-size: var(--p-font-size-large);
  }

  .home h2 {
    width: 70%;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
  }

  .home p {
    width: 90%;
    font-size: var(--p-font-size-large);
  }

  .btn {
    width: 150px;
    font-size: var(--p-font-size-medium);
    align-items: center;
  }

  .login {
    width: 110px;
    font-size: var(--p-font-size-medium);
    text-align: center;
  }

  .descubra-text-mobile h3 {
    width: 50%;
    padding: 10px;
    margin: 0px 10px;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
  }

  .descubra-text-mobile p {
    width: 300px;
    margin: 10px 20px;
    font-size: var(--p-font-size-medium);
  }

  .carrossel {
    display: block;
    width: 100%;
    background-color: var(--color-secondary);
  }

  .carrossel-mobile img {
    height: 50rem;
    width: 70%;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .descubra2 {
    display: none;
  }

  .descubra {
    display: none;
  }

  @media (max-width: 600px) {
    .carrossel-mobile img {
      height: 30rem;
      width: 50%;
      border-radius: 20px;
      margin: 20px 0px;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }

  .menu-planeje li{
    font-size: var(--p-font-size-small);
    text-align: center;
  }

  .busca-itens{
    font-size: var(--p-font-size-small);
    padding: 0 0 0 20%;
  }

  footer{
    padding: 5vh 0 5vh 0; 
    gap: 1rem;
  }

  .footer-items-social h4{
    font-size: var(--p-font-size-large);
  }

  .footer-items-links h4{
    font-size: var(--p-font-size-medium);
  }

  .footer-items-blog h4{
    font-size: var(--p-font-size-medium);
  }

  .footer-images-blog{
    width: 10vw;
    padding: 0%;
  
  }

  .footer-images-blog p{
    font-size: var(--p-font-size-small);
    font-weight: var(--font-weight-normal);
  
  }

  .footer-images-blog{
    display: block;
    
  }

  .footer-items-social i{
    font-size: var(--p-font-size-large);
  }

  .footer-items-social{
    gap: 0;
  }

  .nav-footer, .footer-items-blog, .footer-items-links{
    gap: 0;
  }

  .footer-items-blog{
    padding-top: 2vh;
    gap: 1vh;
  }

  .a-footer{
    font-size: var(--p-font-size-small);
  }
  
  .img-footer{
    width: 70px;
  }

  .bares {
    display: none;
  }



}
