@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary900: #fc945a;
  --color-secondary100: #ffc4a4;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
  --font-family: "Inter", sans-serif;
}

body {
  font-family: var(--font-family);
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
}

.container-header {
  height: 100vh;
  display: flex;
  justify-content: center;

  background-image: linear-gradient(
      45deg,
      rgba(255, 64, 0, 0.067),
      rgba(247, 97, 27, 0.5)
    ),
    url(../images/paisagem9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
}

.wrapper-container {
  width: 98%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .wrapper-container {
    width: 1440px;
  }
}

header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin: 5px;
  color: var(--color-light);
}

.logo h1 {
  color: var(--color-light);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  text-align: left;
}

.header-menu ul {
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius-small);
  background-color: #ffffff35;
  padding-left: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-light);
  font-weight: var(--font-weight-bold);
  transition: color var(--transition);
  height: 3rem;
  width: 100%;
  padding: 0 1.5rem;
  transition: var(--transition);
}

.menu-item:hover {
  color: var(--color-light);
  background-color: var(--color-secondary900);
  border-radius: var(--border-radius-small);
}

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-light);
  gap: 2rem;
}

.home h2 {
  width: 30%;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-primary900);
}

.home p {
  width: 50%;
  font-size: var(--color-light);
  color: var(--color-light);
}

.btn {
  width: 12.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-light);
  border-radius: var(--border-radius-small);
  font-size: var(--p-font-size-large);
  color: var(--color-light);
  cursor: pointer;
  padding: 0.625rem;
  text-decoration: none;
  transition: var(--transition);
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #ffffff2f;
}

.login {
  height: 3.125rem;
  width: 9.375rem;
  background-color: var(--color-dark);
  border-radius: var(--border-radius-small);
  color: var(--color-light);
  border: none;
  padding: 0.625rem 1.25rem;
  font-size: var(--p-font-size-large);
}

.login:hover {
  cursor: pointer;
  background-color: #ffffff77;
}

#descubra {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary900);
}

.context-descubra {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding: 1.75rem 0;
  gap: 1.7rem;
}

@media (min-width: 1440px) {
  .context-descubra {
    width: 1440px;
  }
}

.wrapper-text {
  display: flex;
}

.descubra-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

#descubra h3 {
  width: 30%;
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

#descubra p {
  width: 60%;
  font-size: var(--p-font-size-large);
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
}

.wrapper-text img {
  width: 60%;
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

.wrapper-text img:hover {
  transform: scale(1.01);
}

.gallery {
  width: 100%;
  display: flex;
  gap: 2.5rem;
}

.gallery img {
  width: 100%;
  border-radius: var(--border-radius-small);
  transition: var(--transition);
}

.gallery img:hover {
  transform: scale(1.01);
}

#planeje-viagem {
  display: flex;
  justify-content: center;
  background-color: #fd5758;
}

.caixa-planeje {
  width: 98%;
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0;
  gap: 3.75rem;
}

@media (min-width: 1440px) {
  .caixa-planeje {
    width: 1440px;
  }
}

.topo-planeje {
  display: flex;
  justify-content: space-between;
}

.topo-planeje h4 {
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
}

.container-loginFav {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.container-loginFav button {
  background-color: var(--color-dark);
  width: 12.625rem;
  height: 4rem;
  border-radius: var(--border-radius-small);
  color: var(--color-light);
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
}

.container-loginFav button:hover {
  background-color: #ffffff77;
  color: var(--color-dark);
}

.iconHeart {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.iconHeart:hover {
  color: var(--color-primary900)
}

.context-planeje {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.menu-planeje {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0;
  padding: 0;
}

.menu-planeje-items {
  display: flex;
}

.menu-planeje-items a {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.54);
  width: 13rem;
  height: 5.25rem;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-small);
  display: flex;
  justify-content: space-between;
  padding: 1.875rem;
  font-weight: 700;
  font-size: var(--p-font-size-large);
  color: var(--color-dark);
  transition: var(--transition);
}

.menu-planeje-items:nth-child(n + 2) a {
  /* colocar  disabled */
}

.menu-planeje-items:nth-child(5) a {
  width: 18rem;
}

.menu-planeje-items a:hover {
  filter: brightness(0.8);
}

.planeje-busca {
  background-image: url(/images/fundo-busca.jpeg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  height: 20.25rem;
  width: 90%;
  border-radius: var(--border-radius-small);
}

#busca-home {
  background-image: url(/images/busca.png);
}

.busca-itens {
  height: 70px;
  width: 700px;
  font-size: 18px;
  padding-left: 80px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 40px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffffd4;
  position: relative;
  top: 125px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: #ffdede;
  padding: 88px 100px 50px 100px;
}

.footer-items-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-items-social h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.footer-items-social span {
  display: flex;
  gap: 1rem;
}

.footer-items-social a {
  color: var(--color-dark);
  cursor: pointer;
  transition: var(--transition);
}

.footer-items-social a:hover {
  color: var(--color-primary900);
}

.socialIcons {
  font-size: 1.5rem;
}

.footer-items-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-links h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
}

.a-footer {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  transition: var(--transition);
}

.a-footer:hover {
  color: var(--color-primary900);
}

.footer-items-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-blog h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.footer-images-blog {
  display: flex;
  gap: 1rem;
}

.ancora-image-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  cursor: pointer;

  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-dark);
  transition: var(--transition);
}

.ancora-image-blog:hover {
  color: var(--color-primary900);
  transform: scale(1.03);
}

.img-footer {
  border-radius: 10px;
  width: 129px;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .topo-planeje {
    margin: auto;
    width: 90vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 2rem;
  }

  .menu-span-login {
    font-size: 1rem;
    width: 15vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 6vh;
    /* padding: 4% 2% 4% 2%; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 4%;
  }

  .menu-planeje li {
    display: flex;
    font-size: 1rem;
    height: 5vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }

  .planeje-busca {
    font-size: 0.8rem;
    height: 30vh;
    width: 87vw;
    margin: auto;
  }

  .busca-itens {
    font-size: 0.8rem;
    height: 6vh;
    width: 60vw;
    margin: auto;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 1150px) {
  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 10vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-planeje li {
    display: flex;
    font-size: 1rem;
    height: 3vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .topo-planeje {
    margin: auto;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 1.5rem;
  }

  .menu-span-login {
    font-size: 1rem;
    width: 20vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 10vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-planeje li {
    display: flex;
    font-size: 0.8rem;
    height: 3vh;
    width: 50vw;
    margin: auto;
  }

  .menu-planeje i {
    font-size: 1.2rem;
  }

  .planeje-busca {
    font-size: 0.8rem;
    height: 30vh;
    width: 90vw;
    margin: auto;
  }

  .busca-itens {
    font-size: 0.8rem;
    height: 6vh;
    width: 60vw;
    margin: auto;
    position: relative;
    top: 10px;
  }
}

@media (max-width: 600px) {
  .topo-planeje {
    margin: auto;
    width: 100vw;
    padding: 30px 30px 30px 30px;
    display: flex;
  }

  .tit-planeje {
    font-size: 1.7rem;
    width: 60vw;
  }

  .menu-span-login {
    font-size: 0.8rem;
    width: 20vw;
  }

  .menu-planeje {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    padding: 1% 6% 1% 6%;
    margin: auto;
    margin-bottom: 2%;
  }

  .menu-itens-1,
  .menu-itens-2,
  .menu-itens-3,
  .menu-itens-4,
  .menu-itens-5 {
    width: 16vw;
    height: 9vh;
    padding: 5% 1% 5% 1%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .menu-itens-3 {
    width: 20vw;
  }

  .menu-planeje li {
    display: flex;
    font-size: 0.8rem;
    height: 4vh;
    width: 10vw;
    margin: auto;
    justify-content: center;
  }

  .menu-planeje i {
    font-size: 1.2rem;
    margin: auto;
  }
}

.carrossel {
  display: none;
}

.menu-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .menu-mobile {
    display: block;
    background-color: none;
  }

  .idk {
    margin-left: 60px;
  }

  .dropdown-menu {
    background-color: #ffffffa9;
  }

  .menu-mobile .btn {
    background-color: #00000000;
    border: none;
    padding: 0px;
    margin-right: 0px;
  }

  .menu-mobile:hover {
    background-color: none;
  }

  .dropdown-item:hover {
    background-color: var(--color-secondary);
  }

  body {
    overflow-x: hidden;
  }

  .home {
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(
        45deg,
        rgba(255, 64, 0, 0.067),
        rgba(247, 97, 27, 0.569)
      ),
      url(../images/paisagem9.jpg);
    background-size: cover;
    background-position: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color: var(--color-light);
    text-align: left;
  }

  .logo h1 {
    font-size: var(--h3-font-size);
    font-weight: var(--font-weight-bold);
    margin: 0 20px;
  }

  .header-menu {
    display: none;
  }

  .header {
    width: 100%;
    padding: 0 0px;
  }

  .header-menu ul {
    flex-direction: column;
    background-color: #00000000;
  }

  .header-menu li {
    padding: 0px;
    justify-content: center;
    width: 50%;
    align-items: center;
    display: flex;
    font-size: var(--p-font-size-large);
  }

  .home h2 {
    width: 70%;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
  }

  .home p {
    width: 90%;
    font-size: var(--p-font-size-large);
  }

  .btn {
    width: 150px;
    font-size: var(--p-font-size-medium);
    align-items: center;
  }

  .login {
    width: 110px;
    font-size: var(--p-font-size-medium);
    text-align: center;
  }

  .descubra-text-mobile h3 {
    width: 50%;
    padding: 10px;
    margin: 0px 10px;
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
  }

  .descubra-text-mobile p {
    width: 300px;
    margin: 10px 20px;
    font-size: var(--p-font-size-medium);
  }

  .carrossel {
    display: block;
    width: 100%;
    background-color: var(--color-secondary);
  }

  .carrossel-mobile img {
    height: 50rem;
    width: 70%;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 15px;
    display: flex;
    justify-content: center;
  }

  .descubra2 {
    display: none;
  }

  .descubra {
    display: none;
  }

  @media (max-width: 600px) {
    .carrossel-mobile img {
      height: 30rem;
      width: 50%;
      border-radius: 20px;
      margin: 20px 0px;
      padding: 10px;
      display: flex;
      justify-content: center;
    }
  }
}
