:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary900: #fc945a;
  --color-secondary200: #ffffff7a;
  --color-secondary250: #ffc4a4;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-family: "Inter", sans-serif;
}

header {
  background-color: var(--color-primary100);
  display: flex;
  justify-content: center;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 8.25rem;
}

@media (min-width: 1440px) {
  .container-header {
    width: 1440px;
  }
}

.header-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

.inputSearch {
  position: relative;
}

.iconSearch {
  position: absolute;
  bottom: 23px;
  left: 25px;
  font-size: 1.4rem;
}

.search {
  width: 24.8rem;
  height: 4.26rem;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-medium);
  padding-left: 3.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--p-font-size-large);
}

.container-loginFavourite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.68rem;
  padding-right: 4.81rem;
}

.btn-login {
  width: 12.62rem;
  height: 4rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  border-radius: var(--border-radius-small);
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  cursor: pointer;
}

.iconHeart {
  font-size: 1.875rem;
  cursor: pointer;
}

section {
  background-color: var(--color-secondary250);
  display: flex;
  justify-content: center;
}

.context-section {
  display: flex;
  flex-direction: column;
  width: 98%;
  padding: 3rem 0;
  gap: 1.5rem;
}

@media (min-width: 1440px) {
  .context-section {
    width: 1440px;
  }
}

.context-titleHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
}

.context-title {
  display: flex;
  gap: 2.5rem;
  padding-left: 1.625rem;
}

.img-hoteis {
  width: 27rem;
  height: 17.8rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 1rem;
}

.title-container h2 {
  color: var(--color-primary900);
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  width: 50%;
}

.title-address {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.title-address p {
  color: var(--color-dark);
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
}

.prices-context {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.prices-context h3 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
}

.prices-context div {
  display: flex;
  flex-wrap: wrap;
  width: 28%;
  gap: 0.625rem;
}

.prices-context img {
  height: 3.125rem;
  width: 3.125rem;
}

.group-info {
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  gap: 0.75rem;
}

.about {
  background-color: var(--color-secondary200);
  border-radius: var(--border-radius-small);
  padding: 1.375rem;
}

h3 {
  color: var(--color-primary900);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  padding-left: 0.3rem;
  margin-bottom: 0.3rem;
}

hr {
  border: 1px solid var(--color-dark);
  margin-bottom: 1.375rem;
  height: 0;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.rankingDescription {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.ranking {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.note-ranking span {
  color: var(--color-dark);
  font-size: 2.5rem;
  font-weight: var(--font-weight-bold);
}

.note-ranking {
  color: var(--color-primary900);
  font-size: 1.25rem !important;
  font-weight: var(--font-weight-bold);
  margin-left: 0.5rem;
}

.ranking span {
  margin-right: 1.375rem;
  color: var(--color-dark) !important;
}

.ranking p {
  color: var(--color-primary900);
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
}

.text-description {
  color: var(--color-dark);
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  opacity: 50%;
  width: 85%;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
}

.services div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.services h4 {
  color: var(--color-dark);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
}

.services ul {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 1.5rem;
}

.services li {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 45%;
}

.services li p {
  font-size: var(--p-font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  opacity: 50%;
}

.services li i {
  font-size: var(--p-font-size-medium);
  color: var(--color-dark);
  opacity: 50%;
}

.containerLocationDetails {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
}

.location {
  background-color: var(--color-secondary200);
  border-radius: var(--border-radius-small);
  padding: 1.375rem;
}

.mapLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map {
  width: 90%;
}

.map iframe {
  height: 13rem;
}

.mapInfo {
  display: flex;
  gap: 1.375rem;
  margin-top: 0.5rem;
}

.mapInfoNumber {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.mapInfoNumber span {
  color: var(--color-primary900);
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

.mapInfoText {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 0.8rem;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  gap: 1.563rem;
  margin-top: 2rem;
}

.locationInfo div {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

.locationInfo h4 {
  color: var(--color-dark);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  margin-left: 1rem;
}

.locationInfo ul {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 1.5rem;
}

.locationInfo li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 45%;
}

.locationInfo li p {
  font-size: var(--p-font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  opacity: 50%;
}

.locationInfo li i {
  font-size: var(--p-font-size-medium);
  color: var(--color-dark);
  opacity: 50%;
}

.mapInfoText p {
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  line-height: 1.125rem;
}

.details {
  background-color: var(--color-secondary200);
  border-radius: var(--border-radius-small);
  padding: 1.375rem;
  height: 100%;
}

.detailsInfo {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.detailsInfo div {
  display: flex;
  flex-direction: column;
  gap: 0.813rem;
}

.detailsInfo h4 {
  color: var(--color-dark);
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
}

.detailsInfo p {
  font-size: var(--p-font-size-medium);
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  opacity: 50%;
}

footer {
  height: 24.8rem;
  background-color: var(--color-primary100);
}
