:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-primary900: #ff0055;
  --color-primary100: #ffdede;
  --color-secondary900: #fc945a;
  --color-secondary200: #ffffff7a;
  --color-secondary250: #ffc4a4;

  --h1-font-size: 3.125rem;
  --h2-font-size: 1.875rem;
  --h3-font-size: 1.25rem;
  --h4-font-size: 0.938rem;

  --p-font-size-large: 0.938rem;
  --p-font-size-medium: 0.625rem;
  --p-font-size-small: 0.5rem;

  --transition: 0.5s;

  --border-radius-large: 3rem;
  --border-radius-medium: 1.875rem;
  --border-radius-small: 0.625rem;

  --font-weight-normal: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-family: "Inter", sans-serif;
}

/* Fim Formatações Genéricas */

/* Cabeçalho */
header {
  background-color: var(--color-primary100);
  display: flex;
  justify-content: center;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  height: 8.25rem;
}

@media (min-width: 1440px) {
  .container-header {
    width: 1440px;
  }
}

@media (max-width: 1000px) {
  .container-header {
    height: 6rem;
  }
}

@media (max-width: 850px) {
  .container-header {
    height: 4rem;
  }
}

.header-title {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

@media (max-width: 1000px) {
  .header-title {
    font-size: 1.3rem;
  }
}

@media (max-width: 850px) {
  .header-title {
    font-size: 1rem;
  }
}

.inputSearch {
  position: relative;
}

.iconSearch {
  position: absolute;
  bottom: 23px;
  left: 25px;
  font-size: 1.4rem;
}

.search {
  width: 24.8rem;
  height: 4.26rem;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-medium);
  padding-left: 3.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--p-font-size-large);
}

@media (max-width: 1000px) {
  .iconSearch {
    display: none !important;
  }

  .search {
    width: 16rem;
    height: 2.5rem;
    padding-left: 0;
    text-align: center;
    font-size: 0.7rem;
  }
}

@media (max-width: 850px) {
  .search {
    width: 10rem;
    height: 2rem;
    padding-left: 0;
    text-align: center;
    font-size: 0.5rem;
  }
}

.container-loginFavourite {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.68rem;
}

.btn-login {
  width: 12.62rem;
  height: 4rem;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  border-radius: var(--border-radius-small);
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  transition: var(--transition);
  cursor: pointer;
}

.btn-login:hover {
  background-color: #ffffff77;
  color: var(--color-dark);
}

.iconHeart {
  font-size: 1.875rem;
  cursor: pointer;
  transition: var(--transition);
}

.iconHeart:hover {
  color: var(--color-primary900);
}

@media (max-width: 1000px) {
  .container-loginFavourite {
    gap: 1.6rem;
  }

  .btn-login {
    width: 8rem;
    height: 2.5rem;
    font-size: 0.7rem;
    border-radius: var(--border-radius-medium);
  }

  .iconHeart {
    font-size: 1rem;
  }
}

@media (max-width: 850px) {
  .container-loginFavourite {
    gap: 0.5rem;
  }

  .btn-login {
    width: 5.5rem;
    height: 2rem;
    font-size: 0.5rem;
    border-radius: var(--border-radius-medium);
  }

  .iconHeart {
    display: none;
  }
}

/* Fim Cabeçalho */

/* explore sp*/

.exploresp {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary250);
}

.content-exploresp {
  display: flex;
  flex-direction: column;
  padding: 1.625rem 0;
  width: 98%;
  gap: 1.8rem;
}

@media (min-width: 1440px) {
  .content-exploresp {
    width: 1440px;
  }
}

.exploresp h1 {
  font-weight: var(--font-weight-bold);
  font-size: var(--h1-font-size);
  color: var(--color-dark);
}

.title-span {
  color: var(--color-primary900);
}

.dropdown {
  display: none;
}

@media (max-width: 700px) {
  .exploresp h1 {
    font-size: var(--h2-font-size);
  }

  .dropdown {
    display: block;
  }

  .btnExploreSP {
    background-color: transparent;
  }

  .title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-menu a {
    display: flex;
    justify-content: space-between;
  }
}

.menu-sp {
  display: flex;
  gap: 1.7rem;
}

.btn-menu {
  width: 13rem;
  height: 5.25rem;
  background-color: #ffffff8a;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-small);
  padding: 0 1.5rem;
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.btn-menu:nth-child(1) {
  color: var(--color-primary900);
  border: 1px solid var(--color-primary900);
}

.btn-menu:nth-child(5) {
  width: 18rem;
}

@media (max-width: 1000px) {
  .btn-menu {
    width: 10rem;
    height: 3rem;
    font-size: var(--p-font-size-medium);
    padding: 0 1rem;
  }

  .btn-menu:nth-child(5) {
    width: 15rem;
  }
}

.btn-menu:nth-child(n + 2) {
  cursor: no-drop;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .menu-sp {
    display: none;
  }
}

.galeriasp {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d95c;
  border-radius: var(--border-radius-small);
  gap: 3rem;
  padding: 3rem 2rem;
}

.carousel-mobile-sp {
  display: none;
}

.galeriasp img {
  width: 30%;
}

@media (max-width: 1350px) {
  .galeriasp img {
    width: 23%;
  }

  .galeriasp {
    gap: 2rem;
    padding: 2rem;
  }
}

/* Fim explore sp*/

/* Sobre SP */

.sobre-sp {
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary900);
}

.sobre-sp div {
  display: flex;
  flex-direction: column;
  padding: 1.625rem 0;
  width: 98%;
  gap: 1.375rem;
}

@media (min-width: 1440px) {
  .sobre-sp div {
    width: 1440px;
  }
}

.sobre-sp h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--h2-font-size);
  color: var(--color-dark);
}

.title-sobre-span {
  color: var(--color-primary900);
}

.sobre-sp p {
  width: 50%;
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 1.125rem;
}

@media (max-width: 800px) {
  .sobre-sp p {
    width: 80%;
  }
}

/* Fim Sobre SP */

/* Onde Hospedar */

.onde-hospedar {
  display: flex;
  justify-content: center;
  background-color: #ffc4a4;
}

.content-onde-hospedar {
  display: flex;
  flex-direction: row;
  padding: 1.625rem 0;
  width: 98%;
  gap: 4rem;
}

@media (min-width: 1440px) {
  .content-onde-hospedar {
    width: 1440px;
  }
}

.content-title {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.onde-hospedar h2 {
  font-weight: var(--font-weight-bold);
  font-size: var(--h2-font-size);
  color: var(--color-dark);
}

.onde-hospedar p {
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
}

.hoteisItem {
  display: flex;
  gap: 3rem;
  padding-top: 3rem;
}

@media (max-width: 1350px) {
  .content-onde-hospedar {
    flex-direction: column;
    gap: 1rem;
  }

  .content-title {
    gap: 1rem;
  }

  .hoteisItem {
    padding-top: 0;
  }
}

@media (max-width: 1150px) {
  .hoteisItem {
    flex-direction: column;
    align-items: center;
    width: 20rem;
  }

  .cardHoteis {
    width: 15rem;
  }
}

@media (max-width: 400px) {
  .hoteisItem {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .cardHoteis {
    width: 15rem;
  }
}

.cardHoteis {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardImage {
  width: 15rem;
  position: relative;
}

.cardImage img {
  border-radius: var(--border-radius-small);
}

.iconHeartHoteis {
  position: absolute;
  top: 0.438rem;
  right: 0.625rem;
  background-color: var(--color-light);
  padding: 0.7rem;
  border-radius: var(--border-radius-large);
  cursor: pointer;
  transition: var(--transition);
}

.iconHeartHoteis:hover {
  color: var(--color-primary900);
}

.cardHoteis p {
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.cardStars {
  display: flex;
  gap: 0.563rem;
  font-size: var(--p-font-size-large);
}

.cardBtn {
  display: flex;
  justify-content: center;
}

.cardBtn a {
  width: 12.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--p-font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark);
  background-color: transparent;
  border: 1px solid var(--color-dark);
  border-radius: var(--border-radius-small);
  transition: var(--transition);
  cursor: pointer;
}

.cardBtn a:hover {
  opacity: 0.5;
}

/* Fim Onde Hospedar */

/* Footer */
footer {
  display: flex;
  justify-content: center;
  background-color: #ffdede;
}

.content-footer {
  width: 98%;
  display: flex;
  justify-content: center;
  padding: 3.75rem 0;
  gap: 8rem;
}

@media (min-width: 1440px) {
  .content-footer {
    width: 1440px;
  }
}

.footer-items-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.footer-items-social h4 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
}

.footer-items-social span {
  display: flex;
  gap: 1rem;
}

.footer-items-social a {
  color: var(--color-dark);
  cursor: pointer;
  transition: var(--transition);
}

.footer-items-social a:hover {
  color: var(--color-primary900);
}

.socialIcons {
  font-size: 1.5rem;
}

.footer-items-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-links h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.nav-footer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
  margin: 0;
}

.a-footer {
  text-decoration: none;
  color: var(--color-dark);
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  transition: var(--transition);
}

.a-footer:hover {
  color: var(--color-primary900);
}

.footer-items-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.footer-items-blog h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.43);
  font-weight: var(--font-weight-bold);
  margin: 0;
}

.footer-images-blog {
  display: flex;
  gap: 1rem;
}

.ancora-image-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  cursor: pointer;

  font-size: 0.625rem;
  font-weight: var(--font-weight-bold);
  text-align: center;
  color: var(--color-dark);
  transition: var(--transition);
}

.ancora-image-blog:hover {
  color: var(--color-primary900);
  transform: scale(1.03);
}

.img-footer {
  border-radius: 10px;
  width: 129px;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .content-footer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem 0;
  }
}

/* Fim Footer */
